body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #204d70;
}
h1 {
    color: #eee;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
} 